<nav class="navbar navbar-default navbar-fixed-top"  style="background: #337ab7; color: #fff; border:none; border-radius: 0"  >
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- <a class="navbar-brand" href="#">WebSiteName</a> -->
    </div>
    <ul class="nav navbar-nav">     
      <li ngbDropdown>
          <a  id="dropdownBasic1" ngbDropdownToggle href="javascript:void(0)" > 
              Notifictations <span class="badge" style="background: red" *ngIf="(numOfOtherMsgs | async) > 0">{{numOfOtherMsgs | async}}</span>
          </a>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1" style="color: #000; padding: 10px">
            <div *ngFor="let msg of newOtherMsgs | async; let i = index">
              <div class="dropdown-item" ><b>{{msg?.userEmail}}</b> Send a new message " {{msg?.message}}"</div>
              <div class="divider" *ngIf="i < (newOtherMsgs | async)?.length-1"></div>
            </div >
          </div>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li *ngIf="user"><a href="javascript:void(0)"(click)="logout()" >Logout</a></li>

    </ul>
  </div>
</nav>

